@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: whitesmoke;
  font-family: 'Poppins', sans-serif;
}
